@import url(http://weloveiconfonts.com/api/?family=Open+Sans);

html, body, p, input, button, h1, h2, h3, h4, h5 {
	font-family: "Open Sans";
}

body {
	margin: 0;
	width: auto;
	opacity: 1;
	font-size: 2em;
	padding: 0;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	background: url('../images/back.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 100%;
	z-index: -10;
}

.wrapper {
	width: 100%
}

.auth {
	position: fixed;
	width: 375px;
	border-radius: 15px;
	height: 550px;
	left: 50%;
	top: 5%;
	bottom: 10%;
	right: 40%;
	margin-left: -195px;
	background: -moz-linear-gradient(-45deg, #0a1233 0%, #1d4499 26%, #5c7daa 72%,
		#146882 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #0a1233),
		color-stop(26%, #1d4499), color-stop(72%, #5c7daa),
		color-stop(100%, #146882)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #0a1233 0%, #1d4499 26%, #5c7daa 72%,
		#146882 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #0a1233 0%, #1d4499 26%, #5c7daa 72%, #146882
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #0a1233 0%, #1d4499 26%, #5c7daa 72%,
		#146882 100%); /* IE10+ */
	background: linear-gradient(135deg, #0a1233 0%, #1d4499 26%, #5c7daa 72%, #146882
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1233',
		endColorstr='#146882', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	visibility: visible;
	transition: all 250ms ease-out;
	z-index: 100;
}

.auth.close {
	visibility: hidden;
	transition: all 250ms ease-out;
}

.auth.opa {
	opacity: 0.825;
}

.login-title {
	positon: fixed;
	width: 100%;
	color: #EBFAFC;
	margin-top: 220px;
	margin-left: .5px;
	opacity: 0.8;
	visibility: visible;
}

.login-title h3 {
	font-weight: 200;
	font-size: 0.5em;
	text-align: center;
}

.auth.close .login-title {
	visibility: hidden !important;
	transition: all 250ms ease-in;
}

.image-size {
	position: fixed;
	width: 225px;
	height: 225px;
	margin-top: 20px;
	margin-left: 75px;
	opacity: 1;
	visibility: visible;
}

.auth.close .image-size {
	visibility: hidden;
	transition: all 250ms ease-in;
}

input {
	background-color: transparent;
	margin-top: 5%;
	border: none;
	border-bottom: 1px solid #ffffff;
	opacity: 1;
}

.inputWrapper {
	position: relative;
	width: 100%;
	margin-top: 15px;
}

.user-icon {
	position: absolute;
	color: #ffffff;
	opacity: 0.7;
	margin-top: 20px;
	margin-left: 40.5px;
	font-size: 0.75em;
}

.username, .password {
	width: 70%;
	height: 30px;
	padding: .25em 0 .25em .25em;
	margin-left: 40.5px;
}

.username:focus, .password:focus {
	border: 1px solid #ff656c;
}

input[placeholder] {
	cursor: arrow;
	font-size: .5em;
	color: #ffffff;
	padding: 0.5em .25em .25em 2.2em;
}

input[placeholder]:focus {
	border-color: #ff656c;
}

.fa:focus, .fa:active, .fa:checked {
	opacity: 1;
	color: #ff656c !important;
	background-color: #ff656c;
}

.username:focus, .password:focus {
	border: 1px solid #ff656c;
}

.btn {
	cursor: pointer;
	font-size: 0.65em;
	line-height: 22px;
	font-weight: 300;
	font-family: "Helvetica";
	color: #efefef;
	background-color: #CC1018;
	border: none;
	padding: .35em 2.35em .35em 2.35em;
	margin-top: 42.5px;
	border-radius: 20px;
	margin-left: 107.5px;
	opacity: 1;
	transition: opacity 250ms;
}

.btn.loading {
	width: 40px;
	height: 40px;
	font-size: 0;
	border-radius: 50px;
	margin-left: 167.5px;
	margin-top: 35px;
	border: 4.5px solid #efefef;
	padding: 1.5em;
	background-color: transparent;
	border-color: #e8a7bb #ea8fac #e89ab2 #e588a4;
	animation: spin 0.5s linear infinite;
	transition: opacity 550ms ease-out;
}

@
keyframes spin { 0%{
	opacity: 1;
	transform: rotate(30deg);
}

50%{
opacity


:

 

0
.8


;
}
100%{
opacity


:

 

1;
transform


:

 

rotate


(360
deg
);


}
}
.forget {
	font-size: 0.45em;
}

.forget p {
	color: #12123;
	margin-left: 85px;
}

.forget>p>span {
	display: inline;
	margin-left: 20px;
}

.forget>p>span>a {
	color: #efefef;
}

/*--- overlay ---*/
.overlay {
	position: absolute;
	background-color: #efefef;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 550px;
	overflow: hidden;
	visibility: hidden;
	transition: all 250ms ease-in;
}

.overlay.open {
	visibility: visible;
	transition: all 250ms ease-in;
	animation: flash .2s linear;
	overflow: hidden;
}

@
keyframes flash { 0% {
	opacity: 0;
}

80%{
opacity


:

 

0
.8


;
}
100%{
opacity


:

 

1;
}
}

/*--- bottom-buttom---*/
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 375px;
	height: 40px;
	background-color: #000;
	opacity: 1 !important;
	transition: opacity 200ms ease-in;
}

div.no h3 {
	font-size: 0.5em;
	color: #efefef;
	margin-top: 10px;
	margin-left: 5px;
}

.authLogo {
	width: 250px;
	margin-left: -11px;
}

.signupPage .auth {
	height: auto !important;
}
.signupPage .btn {
    margin-top: 20.0px!important;
}

.gender {
	width: 70%;
	height: 30px;
	margin-left: 40.5px;
	background: transparent;
    color: lightgray;
    margin-top: 25px;
}